---
import Layout from '../layouts/Layout.astro';
import  Badge from '../components/Badge.astro'
import SocialIcons from '../components/SocialIcons.astro';
import GitHubIcons from '../iconos/GitHubIcons.astro';
import EmailIcons from '../iconos/EmailIcons.astro';
import LinkedinIcons from '../iconos/LinkedinIcons.astro';
import SectionContainer from '../components/SectionContainer.astro';
---

<Layout title="Desarrollador-programador web Sebastiàn Casadey">
	<main class="px-6">
 		<SectionContainer>
			<h1 class="text-gray-700 text-1xl lg:text-4xl font-bold flex flex-row gap-x-4 pb-10">
				Hey, soy Sebastiàn Casadey 
				<a 
				class="flex flex-row justify-center items-center"
				href="https://www.linkedin.com/in/sebastian-casadey-5709702ab/"
				target="_blank"
				rel="noopener"
				>
				<Badge>Disponible para trabajar</Badge>
			</a>
		</h1>
		<h2 class=" text-xl lg:text-2xl text-gray-700 opacity-60 lg:mt-1 text-wrap max-w-[700px]">
			Soy <span class="text-purple-800 font-semibold">Desarrollador Web</span>, Argentino especialista en aplicaciones ùnica,
			utilizando tecnologias especìficas
		</h2>
		
		<nav class="flex justify-center items-center mt-8 gap-x-1 px-2 flex-wrap gap-y-2">
			<SocialIcons href="https://github.com/sc-frontdev?tab=repositories">
				<GitHubIcons class="size-6"/>
				GitHub
			</SocialIcons>
			
			<SocialIcons href="https://www.linkedin.com/in/sebastian-casadey-5709702ab/">
				
				<LinkedinIcons  />
				Linkedin
			</SocialIcons>
			
			<SocialIcons href="mailto:casadey.sebastian@gmail.com">
				<EmailIcons class="size 6"/>
				casadey.sebastian@gmail.com
			</SocialIcons>
		</nav>
	</SectionContainer>
		


	</main>
</Layout>

<style>

</style>
