<header class="flex justify-between items-center py-3 w-[1120px] mx-auto">

    <img 
    class="rounded-full size-12" 
    src="/public/avatarsc.webp" 
    alt="foto de sebastiàn casadey"
    >
    <nav class="flex flex-row justify-center items-center gap-x-10 opacity-80">
        <a class="hover:scale-110 transition text-purple-800 font-semibold   " href="/">Inicio</a>
        <a class="hover:scale-110 transition text-purple-800 font-semibold   " href="/about">Sobre Mi</a>
        <a class="hover:scale-110 transition text-purple-800 font-semibold   " href="/project">Projectos</a>
        <a class="hover:scale-110 transition text-purple-800 font-semibold   " href="/contact">Contactos</a>
    </nav>
</header>